

h1{
  text-align: center;
}

.container{
  text-align: center;
}

#chapterhed{
  text-align: left;
}

#caption{
  color: gray;
  font-size: 8px;
}


.footer {
  background: black;
  color: white;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
}
