.h1{

font-family: 'Open Sans', sans-serif;
}

.h2{

font-family: 'Open Sans', sans-serif;
}


.h3{

font-family: 'Open Sans', sans-serif;
}

.navbar-brand{

font-family: 'Open Sans', sans-serif;
}

.btn{

  font-family: 'Open Sans', sans-serif;
  background-color: teal !important; 
}
