

.section{
  text-align: center;
  margin: 0 auto;
}

#intro{
  text-align: center;
  font-weight: bold;
  font-size: 16px
}


#container{
  text-align: center;
  margin: 0 auto;
  width: 900px;
}

h2{
  text-align: center;
  text-decoration: underline;
}

img{
  width: 50%
}

#masthead{
  text-align: center;
  font-family: Helvetica;
  font-size: 40px;
  background-color: red;
  color: white;
  margin: 0 auto;
  width: 900px;
  text-decoration: underline;
}

  #content {
    margin: 0 auto;
    width: 900px;
    background-color: gray;
    border: black;
  }
